* {
    outline: none;
    box-sizing: border-box;
}
body {
    /* background-color: #333333; */
    /* color: #fff;
    font-weight: bold;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center; */
    min-height: 100vh;
}
.box {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
}

@import "tailwindcss";